POSTGRES_DB=fantasy_helper
POSTGRES_USER=fantasy
POSTGRES_PASSWORD=fantasy
DATABASE_URL=postgres://fantasy:fantasy@localhost:5432/fantasy_helper?sslmode=disable
FPL_BASE_URL=https://fantasy.premierleague.com/api
FPL_SOURCE_SEASON_ID=
FPL_SOURCE_SEASON_NAME=
FPL_SOURCE_SEASON_DISCOVERY=true
FPL_SOURCE_TIMEOUT=20s
FPL_SOURCE_RETRIES=2
FPL_SOURCE_RETRY_JITTER=100ms
FPL_SOURCE_MAX_CONCURRENT=6
SYNC_WORKERS=6
SYNC_SCHEDULER_ENABLED=false
SYNC_SCHEDULER_TICK=1m
SYNC_CATALOG_CADENCE=1h
SYNC_FIXTURE_CADENCE=1h
SYNC_LIVE_CADENCE=5m
SYNC_FINALIZATION_CADENCE=15m
SYNC_RECONCILE_CADENCE=24h
BACKEND_PORT=8080
FRONTEND_PORT=5173
DEPLOY_ENV=local
DB_HOST_PORT=5432
BACKEND_HOST_PORT=8080
FRONTEND_HOST_PORT=5173
VITE_API_BASE_URL=http://localhost:8080
